@mixin Center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin Alive {
	transition: all 50ms ease-out;

	&:hover {
		transform: translateY(-2px);
		box-shadow: var(--shdw-xsm);
		transition: all 100ms ease-out;
	}

	&:active {
		box-shadow: none;
		transform: translateY(2px);
	}
}
